.product_hero__wrapper {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  padding: 40px 0;
}

.product_hero_img__wrapper {
  position: relative;
  z-index: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_hero_title__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.product_hero__title {
  font-weight: bold;
  font-size: 28px;
  color: #333;
}

.product_hero__text {
  font-size: 18px;
  color: #555;
}

.product_hero__button {
  font-size: 20px;
  color: #ffffff;
  background-color: #db9969;
  border: none;
  border-radius: 10px;
  padding: 12px 50px;
}


.newsletter {
  display: flex;
  width: 100%;
  min-height: 250px;
  background-color: rgba(238, 206, 183, 0.22);
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  position: relative;
  z-index: 1;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }

  &__description {
    font-weight: bold;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 22px;
    color: #333;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }

    .newsletter__input {
      width: 100%;
      max-width: 500px;
      height: 45px;
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 10px;
      font-size: 16px;
    }

    .newsletter__button {
      background-color: #db9969;
      color: white;
      border: none;
      padding: 12px 25px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 18px;
    }
  }
}